<section class="map-section">
<p>map works!</p>
<p>
    <img class="map-image" 
    src="/assets/map-image.svg" 
    alt="all the worlds countries " 
    >
</p>

    <p></p>

<!-- The svg image has all countries mapped via coordinates, each country is 
 in its own<path> and has a name attribute and ID that is a shorter version of the name. 
     Should be able to make an event that listens for a click, finds the coordinates, 
     mathces those with the path, returns the name, sends the name via API to get data, 
     inserts that data into the details page.-->
</section>