<aside class="details-aside">
    <p *ngIf="countryData">
        <b>Country:</b> {{countryData.name || selectedCountry}} <br />
        <b>Capital City:</b> {{ countryData.capitalCity}} <br />
        <b>Region:</b> {{ countryData.region.value }} <br />
        <b>Income Level:</b> {{ countryData.incomeLevel.value}} <br />
        <b>Lending Type:</b> {{ countryData.lendingType.value}} <br />
        <b>Coordinates:</b> {{ countryData.longitude}}, {{countryData.latitude}}<br />
    </p>
    <p *ngIf="!countryData" class="default-view">Country: <br>Capital City: <br>Region:<br>Income Level: <br>Lending Type:<br>Coordinates<br></p>
</aside>
